<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>ZhuNewsManager</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>VriusServer</display-name>
    <servlet-name>VriusServer</servlet-name>
    <servlet-class>VriusServer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VriusServer</servlet-name>
    <url-pattern>/VriusServer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetNewsListServlet</display-name>
    <servlet-name>GetNewsListServlet</servlet-name>
    <servlet-class>com.pczhu.servlet.GetNewsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetNewsListServlet</servlet-name>
    <url-pattern>/getNewsList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLifeInfo</display-name>
    <servlet-name>GetLifeInfo</servlet-name>
    <servlet-class>com.pczhu.servlet.GetLifeInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLifeInfo</servlet-name>
    <url-pattern>/getLifeInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetWeather</display-name>
    <servlet-name>GetWeather</servlet-name>
    <servlet-class>com.pczhu.servlet.GetWeather</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetWeather</servlet-name>
    <url-pattern>/getWeather</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPicture</display-name>
    <servlet-name>GetPicture</servlet-name>
    <servlet-class>com.pczhu.servlet.GetPicture</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPicture</servlet-name>
    <url-pattern>/getPicture</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddNews</display-name>
    <servlet-name>AddNews</servlet-name>
    <servlet-class>com.pczhu.servlet.AddNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddNews</servlet-name>
    <url-pattern>/addNews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Register</display-name>
    <servlet-name>Register</servlet-name>
    <servlet-class>com.pczhu.servlet.Register</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Register</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>filter</filter-name>
    <filter-class>com.pczhu.filter.NesFilter</filter-class>
    <init-param>
      <param-name>charset</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>contentType</param-name>
      <param-value>text/html;charset=UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.pczhu.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>com.pczhu.servlet.Logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowNews</display-name>
    <servlet-name>ShowNews</servlet-name>
    <servlet-class>com.pczhu.servlet.ShowNews</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowNews</servlet-name>
    <url-pattern>/shownews</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Delete</display-name>
    <servlet-name>Delete</servlet-name>
    <servlet-class>com.pczhu.servlet.Delete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CanShow</display-name>
    <servlet-name>CanShow</servlet-name>
    <servlet-class>com.pczhu.servlet.CanShow</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CanShow</servlet-name>
    <url-pattern>/canshow</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowUsers</display-name>
    <servlet-name>ShowUsers</servlet-name>
    <servlet-class>com.pczhu.servlet.ShowUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowUsers</servlet-name>
    <url-pattern>/showusers</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DelUsers</display-name>
    <servlet-name>DelUsers</servlet-name>
    <servlet-class>com.pczhu.servlet.DelUsers</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DelUsers</servlet-name>
    <url-pattern>/delusers</url-pattern>
  </servlet-mapping>
</web-app>