<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ZhuNewsManager</display-name>
	<!--首页配置为登陆页面 -->
	<welcome-file-list>
		<welcome-file>login.jsp</welcome-file>
	</welcome-file-list>

	<!--APP错误上传接口 -->
	<servlet>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>com.pczhu.servlet.UploadServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<!--APP获取新闻列表数据接口 -->
	<servlet>
		<description></description>
		<display-name>GetNewsListServlet</display-name>
		<servlet-name>GetNewsListServlet</servlet-name>
		<servlet-class>com.pczhu.servlet.GetNewsListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetNewsListServlet</servlet-name>
		<url-pattern>/getNewsList</url-pattern>
	</servlet-mapping>
	<!--APP获取图片接口 -->
	<servlet>
		<description></description>
		<display-name>GetPic</display-name>
		<servlet-name>GetPic</servlet-name>
		<servlet-class>com.pczhu.servlet.GetPic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPic</servlet-name>
		<url-pattern>/getPic</url-pattern>
	</servlet-mapping>

	<!--管理系统添加新闻 -->
	<servlet>
		<description></description>
		<display-name>AddNews</display-name>
		<servlet-name>AddNews</servlet-name>
		<servlet-class>com.pczhu.servlet.AddNews</servlet-class>
		<!--管理系统添加新闻配置图片上传的缓存路径以及存储路径 -->
		<init-param>
			<param-name>filepath</param-name>
			<param-value>uploadFile</param-value>
		</init-param>
		<init-param>
			<param-name>temppath</param-name>
			<param-value>temp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddNews</servlet-name>
		<url-pattern>/addNews</url-pattern>
	</servlet-mapping>
	<!--管理系统注册新闻发布者接口 -->
	<servlet>
		<description></description>
		<display-name>Register</display-name>
		<servlet-name>Register</servlet-name>
		<servlet-class>com.pczhu.servlet.Register</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Register</servlet-name>
		<url-pattern>/register</url-pattern>
	</servlet-mapping>
	<!--管理系统过滤器配置转码参数 -->
	<filter>
		<filter-name>filter</filter-name>
		<filter-class>com.pczhu.filter.NesFilter</filter-class>
		<init-param>
			<param-name>charset</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param>
			<param-name>contentType</param-name>
			<param-value>text/html;charset=UTF-8</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!--管理系统登陆接口 -->
	<servlet>
		<description></description>
		<display-name>Login</display-name>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.pczhu.servlet.Login</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<!--管理系统用户注销登陆 -->
	<servlet>
		<description></description>
		<display-name>Logout</display-name>
		<servlet-name>Logout</servlet-name>
		<servlet-class>com.pczhu.servlet.Logout</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Logout</servlet-name>
		<url-pattern>/logout</url-pattern>
	</servlet-mapping>
	<!--管理系统显示新闻列表 -->
	<servlet>
		<description></description>
		<display-name>ShowNews</display-name>
		<servlet-name>ShowNews</servlet-name>
		<servlet-class>com.pczhu.servlet.ShowNews</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowNews</servlet-name>
		<url-pattern>/shownews</url-pattern>
	</servlet-mapping>
	<!--管理系统删除新闻 -->
	<servlet>
		<description></description>
		<display-name>Delete</display-name>
		<servlet-name>Delete</servlet-name>
		<servlet-class>com.pczhu.servlet.Delete</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Delete</servlet-name>
		<url-pattern>/delete</url-pattern>
	</servlet-mapping>
	<!--管理系统审核新闻 -->
	<servlet>
		<description></description>
		<display-name>CanShow</display-name>
		<servlet-name>CanShow</servlet-name>
		<servlet-class>com.pczhu.servlet.CanShow</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CanShow</servlet-name>
		<url-pattern>/canshow</url-pattern>
	</servlet-mapping>
	<!--管理系统显示用户列表 -->
	<servlet>
		<description></description>
		<display-name>ShowUsers</display-name>
		<servlet-name>ShowUsers</servlet-name>
		<servlet-class>com.pczhu.servlet.ShowUsers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ShowUsers</servlet-name>
		<url-pattern>/showusers</url-pattern>
	</servlet-mapping>
	<!--管理系统删除用户 -->
	<servlet>
		<description></description>
		<display-name>DelUsers</display-name>
		<servlet-name>DelUsers</servlet-name>
		<servlet-class>com.pczhu.servlet.DelUsers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelUsers</servlet-name>
		<url-pattern>/delusers</url-pattern>
	</servlet-mapping>

	<!--管理系统访问转接 -->
	<servlet>
		<description></description>
		<display-name>ForwardJsp</display-name>
		<servlet-name>ForwardJsp</servlet-name>
		<servlet-class>com.pczhu.servlet.ForwardJsp</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ForwardJsp</servlet-name>
		<url-pattern>/forwardJsp</url-pattern>
	</servlet-mapping>
	<!--管理系统添加图片 -->
	<servlet>
		<description></description>
		<display-name>AddPics</display-name>
		<servlet-name>AddPics</servlet-name>
		<servlet-class>com.pczhu.servlet.AddPics</servlet-class>
		<init-param>
			<param-name>filepath</param-name>
			<param-value>uploadFile</param-value>
		</init-param>
		<init-param>
			<param-name>temppath</param-name>
			<param-value>temp</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddPics</servlet-name>
		<url-pattern>/addPics</url-pattern>
	</servlet-mapping>
	<!--管理系统显示图片 -->
	<servlet>
		<description></description>
		<display-name>Showpics</display-name>
		<servlet-name>Showpics</servlet-name>
		<servlet-class>com.pczhu.servlet.Showpics</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Showpics</servlet-name>
		<url-pattern>/showpics</url-pattern>
	</servlet-mapping>
	<!--管理系统删除图片 -->
	<servlet>
		<description></description>
		<display-name>DeletePic</display-name>
		<servlet-name>DeletePic</servlet-name>
		<servlet-class>com.pczhu.servlet.DeletePic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeletePic</servlet-name>
		<url-pattern>/deletepic</url-pattern>
	</servlet-mapping>
	<!--管理系统审核图片 -->
	<servlet>
		<description></description>
		<display-name>CanshowPic</display-name>
		<servlet-name>CanshowPic</servlet-name>
		<servlet-class>com.pczhu.servlet.CanshowPic</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CanshowPic</servlet-name>
		<url-pattern>/canshowPic</url-pattern>
	</servlet-mapping>

</web-app>